body {
    /* padding: 10px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.main-menu {
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu > li {
    position: relative;
    margin-right: -4px;
    list-style: none;
}

.main-menu a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #0088cc;
    white-space: nowrap;
    border: 1px solid #e5e5e5;
}

.main-menu a:hover {
    background-color: #eeeeee;
}

.sub-menu {
    display: none;
    position: absolute;
    padding-left: 0;
    width: 150px;
    top: 5px;
    left: 170px;
    list-style: none;
    z-index: 10;
}

.main-menu > li:hover ul {
    display: block;
}